
// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar-brand {
    color: #f5f8fa !important;
}
.navbar-nav > li > a {
    color: #f5f8fa !important;
}
nav {
    min-height: 50px;
    margin-bottom: 0px !important;  
}

