
// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar-brand {
    color: #f5f8fa !important;
}
.navbar-nav > li > a {
    color: #f5f8fa !important;
}
nav {
    min-height: 50px;
    margin-bottom: 0px !important;  
}

.nav-bottom {
    margin-top:0px;
    height:50px;
    padding: 0 60px;
    background: #f6f6f6;
    z-index: 40;
    border-bottom: 1px solid #d7d7d7;
    
}

.nav-bottom > li {
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid transparent;
    padding:0px;
     
      text-transform: uppercase;
    letter-spacing: 1px;
  
    font-weight: 500;
}

.nav-bottom > li > a:hover {
    background: #1abc9c;
    margin: 0px;
    border-radius: 0px;
    color: #f5f8fa !important;
}
.nav-bottom > li > a {
    padding: 15px 15px;
    color: #4d545d !important;
}

